body {
  transition: background-color 0.3s, color 0.3s;
}

select {
  background: transparent;
  border: none;
  color: inherit;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

#result p {
  margin-top: 10px;
  font-size: 14px;
}
